@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@layer base {
    *, *::before, *::after {
        @apply transition-colors duration-150;
    }

    :root {
        color-scheme: dark light;
        &.light {
            color-scheme: light;
        }
        &.dark {
            color-scheme: dark;
        }
    }
    

    body {
        @apply min-h-screen bg-neutral-100 font-sans text-base font-normal leading-5 text-neutral-900 antialiased;
        @apply dark:bg-neutral-900 dark:text-neutral-100;
    }
}
