@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@layer base {
    /* for some reason *only some* of the text transitions really slowly (>1s) */
    h1,h2,h3,h4,p,a,button,span,svg {
        @apply transition-colors duration-150;
    }

    body {
        @apply min-h-screen bg-surface-100 font-sans text-base font-normal leading-5 text-neutral-900 antialiased;
        @apply dark:bg-surface-900 dark:text-neutral-100;
    }
    .global-popover-arrow {
        --arrow-size: calc(var(--spacing) * 4);
        --arrow-background: var(--color-neutral-800);
    }
}

@layer theme {
    * {
        @variant dark {
            color-scheme: dark;
        }
    }
}

@custom-variant dark (&:where(.dark, .dark *));
