@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@layer base {
    /* for some reason *only some* of the text transitions really slowly (>1s) */
    h1,h2,h3,h4,p,a,button,span,svg {
        @apply transition-colors duration-150;
    }

    body {
        @apply min-h-screen bg-surface-100 font-sans text-base font-normal leading-5 text-neutral-900 antialiased;
        @apply dark:bg-surface-900 dark:text-neutral-100;
    }
    .global-popover-arrow {
        --arrow-size: calc(var(--spacing) * 4);
        --arrow-background: var(--color-neutral-800);
    }
}

@layer theme {
    * {
        color-scheme: light;
        @variant dark {
            color-scheme: dark;
        }
    }
    .shiki {
        &, & span {
            @variant dark {
                color: var(--shiki-dark) !important;
                background-color: var(--shiki-dark-bg) !important;
                font-style: var(--shiki-dark-font-style) !important;
                font-weight: var(--shiki-dark-font-weight) !important;
                text-decoration: var(--shiki-dark-text-decoration) !important;
            }
        }

        &.line-wrap {
            text-wrap: stable;
        }

        /* https://github.com/shikijs/shiki/issues/3#issuecomment-830564854 */
        &.line-numbers code {
            counter-reset: step;
            counter-increment: step 0;
            & .line::before {
                content: counter(step);
                counter-increment: step;
                width: 1rem;
                margin-right: 1rem !important;
                display: inline-block;
                text-align: right;
                color: rgba(115,138,148,.4)
            }
        }
    }
}

@custom-variant dark (&:where(.dark, .dark *));
