@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

* {
    transition: background-color 0.15s;
}
:root {
    color-scheme: light dark;
    &:has(#theme_☀️:checked, #theme_Light:checked) {
        color-scheme: light;
    }
    &:has(#theme_🌙:checked, #theme_Dark:checked) {
        color-scheme: dark;
    }
}

input,
button, .input {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.55em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: light-dark(#0f0f0f, #ffffff);
  background-color: light-dark(#ffffff, #0f0f0f98);
  transition: border-color 0.25s, background-color 0.10s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  &:disabled {
    background-color: light-dark(#dddddd, #0f0f0f30);
    color: #777777;
  }
}

button, .button {
  cursor: pointer;
  &:hover:not(:disabled) {
    border-color: #396cd8;
  }
  &:active:not(:disabled) {
    border-color: #396cd8;
    background: rgb(from currentColor r g b / 20%);
  }
  &:disabled {
    cursor: default;
  }
}
/* 
input,
button {
  outline: none;
} */

:root {
  --border-radius: 8px;
}

.pill {
  --border-radius: 15px;
}

.chip {
  --border-radius: 20px;
}

.floating {
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
}

.row {
    @apply flex items-center justify-center;
}