@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@layer base {
    /* for some reason *only some* of the text transitions really slowly (>1s) */
    h1,h2,h3,h4,p,a,button,span,svg {
        @apply transition-colors duration-150;
    }

    body {
        @apply min-h-screen;
        @apply font-sans text-base font-normal leading-5 antialiased;
        @apply bg-surface-100 dark:bg-surface-900;
        @apply text-neutral-900 dark:text-neutral-100;
    }
    .global-popover-arrow {
        z-index: -1;
        --arrow-size: calc(var(--spacing) * 4);
        --arrow-background: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    }
    .note {
        @apply text-xs text-neutral-500 dark:text-neutral-300;
    }
    /* absolute hack */
    .cm-editor {
        @variant dark {
            /* selects syntax-highlighted tokens through sheer luck and perseverance */
            span:not(.cm-selectionMatch):not(.cm-matchingBracket), 
            .cm-cursor {
                /* classic lightness invert */
                filter: invert(100%) hue-rotate(180deg);
                transition: none;
            }
        }
    }
    .cm-gutters {
        @apply border-surface-200! dark:border-surface-700!;
    }
    .cm-gutter {
        @apply bg-surface-100 dark:bg-surface-900;
    }
    .cm-activeLine {
        @apply bg-secondary-100/30! dark:bg-secondary-700/10!;
    }
    .cm-activeLineGutter {
        @apply bg-secondary-100/50! dark:bg-secondary-700/20!;
    }
    .cm-selectionBackground {
        @apply bg-primary-100/50! dark:bg-primary-400/50!;
    }
    h2 {
        @apply text-2xl font-bold;
        @apply text-neutral-800 dark:text-neutral-50;
        @apply select-none;
    }
    h3 {
        @apply text-lg font-bold;
        @apply text-neutral-800 dark:text-neutral-50;
        @apply select-none;
    }
    .btn-base {
        @apply inline-flex items-center gap-2;
        @apply px-3! py-1.5! rounded-md! text-sm! font-medium;
        @apply transition-colors focus:outline-none focus-visible:ring-2 focus-visible:ring-sky-400;
    }
    .dialog-content {
        @apply flex flex-col gap-4;
        @apply min-w-lg max-w-[50vw] max-h-[80vh] overflow-hidden;
        @apply bg-white dark:bg-surface-900;
        @apply rounded-2xl shadow-2xl;
        @apply p-5 text-sm;
        @apply text-neutral-900 dark:text-neutral-50;
    }
    .dialog-header {
        @apply flex items-center justify-between;
        @apply pb-2 border-b border-neutral-200 dark:border-neutral-700;
    }
    .dialog-header .header-actions {
        @apply flex items-center gap-2;
    }
    .dialog-body {
        @apply flex flex-col gap-3;
        @apply flex-1 overflow-hidden;
    }
    .dialog-footer {
        @apply flex items-center justify-between w-full pt-2 gap-2;
        @apply border-t border-neutral-200 dark:border-neutral-700;
    }
    .callout {
        @apply p-3 rounded-lg;
        @apply bg-neutral-50 dark:bg-neutral-900/20;
        @apply border border-neutral-200 dark:border-neutral-700;
        
        &.warn {
            @apply bg-warning-50 dark:bg-warning-900/20;
            @apply border-warning-200 dark:border-warning-800;
        }
    }
    div.col {
        @apply flex flex-col gap-2;
    }
    div.row {
        @apply flex flex-row gap-2;
    }
    .attention {
        @apply border-2 border-amber-500 dark:border-amber-400;
    }
}

@layer theme {
    * {
        color-scheme: light;
        @variant dark {
            color-scheme: dark;
        }
    }
}

@custom-variant dark (&:where(.dark, .dark *));
